.textarea {
  width: 48%;
  border-radius: 20px;
  margin-left: 10px;
  margin-top: 5px;
  border: none;
  display: inline-block;
}
.input {
  margin: 4px;
  border-radius: 20px;
  margin-left: 10px;
  margin-top: 7px;
  border: none;
  display: inline-block;
}
.img {
  width: 100%;
  height: auto;
  margin-top: 5px;
}
.button {
  transition: 0.5s;
  display: inline-block;
  border: none;
  padding: 2px;
  font-size: inherit;
  text-align: center;
  text-shadow: 1px 1px 1px rgb(185, 173, 173);
  border-radius: 10px;
  width: 15%;
  height: 5%;
  margin-left: 10px;
  position: absolute;
  margin-top: 17px;
  background-color: rgb(236, 223, 206);
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.button:hover {
  background: rgb(94 125 127);
}
.color {
  background-color: #ccc5ab;
}
.asterik {
  color: red;
  font-size:x-large;
}
.asterikBlack{
  color: black;
  font-size: x-large;
}
.text {
  margin-left: 50px;
  font-size: large;
  font-family: sans-serif;
}