.description {
  color: rgba(19, 1, 11, 0.685);
  font-family: cursive;
  font-size: medium;
  font-size: 20px;
  text-align: center;
}
.interval {
  margin: 20px;
  margin-left: 40px;
}
.date {
  font-family: emoji;
  color: rgb(85, 5, 9);
  font-family: cursive;
  text-align: center;
}
.at {
  font-family: fantasy;
  color: rgb(200, 240, 22);
  text-align: center;
}
.title {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgba(39, 26, 29, 0.931);
  text-align: center;
}

.wraper {
  display: grid;
  grid-gap: 1em;
}
